{% extends "base.html" %}

{% block conteudo %}

    <center><h1>Solicitações de Compras</h1></center>
    <br>

    <form method="GET" action={% url 'compras' %}>
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    <br>
    <p class="badge bg-success">Mostrando {{compras|length}} Solicitações de Compras</p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Produto</th>
            <th scope="col">Código Produto</th>
            <th scope="col">Código Fornecedor</th>
            <th scope="col">Criado</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Categoria</th>
            <th scope="col">Situação</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <th>{{compra.pk }}</th>
                    <td>{{ compra.descricao_produto }}</td>
                    <td>{{ compra.codigo_produto }}</td>
                    <td>{{ compra.codigo_fornecedor }}</td>
                    <td>{{ compra.criado_em }}</td>
                    <td>{{ compra.fabricante_produto }}</td>
                    <td>{{ compra.categoria_produto }}</td>
                    <td>
                        {% if compra.situacao == 'P' %}
                            <span class="badge bg-primary" title="Pendente">Pendente</span>
                        {% elif compra.situacao == 'A' %}
                            <span class="badge bg-success" title="Aprovado">Aprovado</span>
                        {% elif compra.situacao == 'R' %}
                            <span class="badge bg-danger" title="Recusado">Recusado</span>
                        {% elif compra.situacao == 'C' %}
                            <span class="badge bg-light text-dark" title="Concluído">Concluído</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'compra-edit' pk=compra.pk %}" class=" btn btn-primary btn-sm">Editar<a/>
                        <a href="{% url 'compra-delete' pk=compra.pk %}" class=" btn btn-danger btn-sm">Excluir<a/>
                        </td>
                    </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock conteudo %}