{% extends "base.html" %}

{% block conteudo %}

<center><h1>Solicitações de Compras</h1></center>
<hr>
<form method="get" action="." class="row g-3 align-items-end">

    <!-- Pesquisa Geral -->
    <div class="col-md-3">
      <label for="q" class="form-label">Pesquisa Geral</label>
      <input 
        type="text" 
        id="q"
        name="q" 
        class="form-control" 
        placeholder="Pesquisa Geral..." 
        value="{{ request.GET.q }}"
      >
    </div>
  
    <!-- Código do Produto -->
    <div class="col-md-3">
      <label for="codigoproduto" class="form-label">Código do Produto</label>
      <input 
        type="text" 
        id="codigoproduto"
        name="codigoproduto" 
        class="form-control" 
        placeholder="Informe o Código" 
        value="{{ request.GET.codigoproduto }}"
      >
    </div>
  
    <!-- Fabricante -->
    <div class="col-md-3">
        <label for="fabricante" class="form-label">Fabricante</label>
        <select name="fabricante" id="fabricante" class="form-select">
          <option value="">Todos os Fabricantes</option>
          {% for key, label in compra.FABRICANTES %}
            <option value="{{ key }}" {% if request.GET.fabricante == key %}selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>
  
    <!-- Categoria -->
    <div class="col-md-3">
      <label for="categoria" class="form-label">Categoria</label>
      <select name="categoria" id="categoria" class="form-select">
        <option value="">Todas as Categorias</option>
        {% for key, label in compra.CATEGORIAS %}
          <option value="{{ key }}" {% if request.GET.categoria == key %}selected{% endif %}>
            {{ label }}
          </option>
        {% endfor %}
      </select>
    </div>
  
    <!-- Data Inicial -->
    <div class="col-md-3">
      <label for="data_inicial" class="form-label">De:</label>
      <input 
        type="date" 
        id="data_inicial"
        name="data_inicial" 
        class="form-control" 
        value="{{ request.GET.data_inicial }}"
      >
    </div>
  
    <!-- Data Final -->
    <div class="col-md-3">
      <label for="data_final" class="form-label">Até:</label>
      <input 
        type="date" 
        id="data_final"
        name="data_final" 
        class="form-control" 
        value="{{ request.GET.data_final }}"
      >
    </div>
  
    <!-- Botões -->
    <div class="col-md-3 d-flex gap-2">
      <button type="submit" class="btn btn-primary">Filtrar</button>
      <a href="{% url 'compra-list' %}" class="btn btn-secondary">Limpar</a>
    </div>
  
  </form>
  
<br>
<p class="badge bg-success">Mostrando {{compras|length}} Solicitações de Compras</p>
<hr>

{% if compras %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Produto</th>
        <th scope="col">Código Produto</th>
        <th scope="col">Código Fornecedor</th>
        <th scope="col">Criado</th>
        <th scope="col">Fabricante</th>
        <th scope="col">Categoria</th>
        <th scope="col">Situação</th>
        <th scope="col">Dias</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
            <tr>
                <th>{{compra.pk }}</th>
                <td>{{ compra.descricao_produto }}</td>
                <td>{{ compra.codigo_produto }}</td>
                <td>{{ compra.codigo_fornecedor }}</td>
                <td>{{ compra.criado_em|date:"d/m/Y" }}</td>
                <td>{{ compra.get_fabricante_produto_display }}</td>
                <td>{{ compra.get_categoria_produto_display }}</td>
                <td>
                    {% if compra.situacao == 'P' %}
                        <span class="badge bg-primary" title="Pendente">Pendente</span>
                    {% elif compra.situacao == 'A' %}
                        <span class="badge bg-success" title="Aprovado">Aprovado</span>
                    {% elif compra.situacao == 'R' %}
                        <span class="badge bg-danger" title="Recusado">Recusado</span>
                    {% elif compra.situacao == 'C' %}
                        <span class="badge bg-light text-dark" title="Concluído">Concluído</span>
                    {% endif %}
                </td>
                <td>Criado há {{ compra.dias_desde_criacao }}   {{ compra.dias_desde_criacao|pluralize:"dia,dias" }}</td>
                <td>
                    <a 
  href="{% url 'compra-aprovado' pk=compra.pk %}" 
  class="btn btn-light btn-sm"
  onclick="return confirm('Tem certeza que deseja aprovar esta compra?')"
>
  ✅
</a>

<a 
  href="{% url 'compra-recusado' pk=compra.pk %}" 
  class="btn btn-light btn-sm"
  onclick="return confirm('Tem certeza que deseja recusar esta compra?')"
>
  ❌
</a>
                    <a href="{% url 'compra-edit' pk=compra.pk %}" class=" btn btn-primary btn-sm">Editar<a/>
                    <a href="{% url 'compra-delete' pk=compra.pk %}" class=" btn btn-danger btn-sm">Excluir<a/>
                    </td>
                </tr>
    {% endfor %}
    </tbody>
</table>
   

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <p>Nenhuma compra encontrada.</p>
{% endif %}

{% endblock conteudo %}