{% extends "base.html" %}

{% block conteudo %}
    <h1>Login</h1>   
    {% if forms.errors %} 
    <p> usuário ou senha incorretos, por favor insira credenciais válidas!</p>
    {% else %}
    <p>Faça Login para acessar!</p>

    {% endif %}
    <div class="login-form">

    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}
        {{form.as_p}}

        <input type="hidden" name="next" value="{{next}}">
        <p><input type=submit value="Login"></p>

    </form>
{% endblock conteudo%}